.background {
  background-color: #f4d50895;
  background: linear-gradient(to right, #e2e2e2, #f4d50895);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  transition: filter 0.5s ease;
}

.cont {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: auto;
    max-width: 100%;
    height: auto;
    min-height: 300px;
    padding: 25px;

    .header {
        width: 100%;
        border: 2px dashed #F4D508;
        border-radius: 10px;
        max-height: 300px;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        padding: 10px;

        img {
            width: auto;
            height: auto;
            max-width: 65%;
            max-height: 65%;
            object-fit: contain;
            border-radius: 10px;
        }
    }

    .header svg {
        height: 100px;
    }

    .header p {
        text-align: center;
        color: black;
    }

    .file {
        background-color: #05060F0A;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        border: 2px solid transparent;
        transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s;
        // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    }

    .file:hover{
        outline: none;
        border: 2px solid #F4D508;
    }

    #photo {
        display: none;
    }

  form {
    margin-top: 0;
    margin-bottom: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 50%;

    .input {
      max-width: 240px;
      height: 44px;
      background-color: #05060f0a;
      border-radius: .5rem;
      padding: 0 1rem;
      border: 2px solid transparent;
      font-size: 1rem;
      transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
    }

    .label {
      display: block;
      margin-bottom: .1rem;
      font-size: .9rem;
      font-weight: bold;
      color: #05060f99;
      transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
    }

    .input:hover, .input:focus, .input-group:hover .input {
      outline: none;
      border-color: #F4D508;
    }

    .input-group:hover .label, .input:focus {
      color: #05060fc2;
    }

    .button {
      background-color: #F4D508;
      color: #303030;
      font-size: 15px;
      padding: 8px 30px;
      border: 1px solid transparent;
      border-radius: 30px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-top: 10px;
      cursor: pointer;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    }
  }
}

.back-link {
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #F4D508;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #F4D508;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.back-link a:hover {
  border: 2px solid #303030;
}

.back-link a:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 100000;
  transition: opacity 0.5s ease; 
  opacity: 0;
}

.loading.show {
  opacity: 1; // Mostrar cuando se añade la clase 'show'
}

.background.blur {
  filter: blur(2px);
}