<section class="cont">

    <div class="grid">

        <nav class=" text__container--left">
            <h2 class="about__subtitle">Un Espacio para Ti</h2>
            <p class="about__paragraph">
            "En nuestra peluquería encontrarás no solo un servicio de calidad, sino un lugar creado para que te sientas cómodo y
            relajado. Cada detalle del ambiente está diseñado pensando en ti".
            </p>
        </nav>

        <nav class="about__img--container">
            <figure class="about__img">
                <img src="../../../assets/img/img-About/habilidadesImg.svg" alt="" class="about__picture">
            </figure>
        </nav>

        <nav class="about__imgLeft--container">
            <figure class="about__img about__img--left">
                <img src="../../../assets/img/img-About/habilidadesImg.svg" alt="" class="about__picture">
            </figure>
        </nav>

        <nav class=" text__container--right">
            <h2 class="about__subtitle">Lo Mejor para Tu Cabello</h2>
            <p class="about__paragraph">
                La diferencia está en los detalles. Por eso utilizamos herramientas que son sinónimo de calidad y estilo, para
                asegurarte una experiencia única y un look que no pase desapercibido.
                "Tu cabello merece lo mejor, y nosotros lo sabemos"
            </p>
        </nav>

    </div>

</section>