@if(_utilSvc.isLoading()){
    <app-loading class="loading show" />
}

<section class="background" [class.blur]="_utilSvc.isLoading()">
    <div class="back-link">
        <a [routerLink]="['/auth']" routerLinkActive="router-link-active">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>

    <div class="cont">
        <h2>Restablecer Contraseña</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="inputGroup">
                <label class="label" for="email">Correo Electrónico:</label>
                <input class="input" id="email" formControlName="email" type="email" />
            </div>
            
            @if(forgotPasswordForm.get('email')!.invalid && forgotPasswordForm.get('email')!.touched){
                <div>
                Por favor ingrese un correo válido.
            </div>
            }
            
            <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar Enlace</button>
        </form>

    </div>
    
</section>