.turnero-historial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;

  h2{
    width: 100%;
    border-bottom: 3px solid #f4d508;
    font-weight: 600;
  }

  h3{
    font-weight: 500;
  }

  h2, h3 {
    text-align: center;
    font-style: italic;
    color: #303030dc;
  }

  .table-container {
    width: 100%;
  }

  table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;

    thead {
      background-color: #f4d50895;
      color: #303030;
    }

    th, td {
      padding: 12px 15px;
      text-align: center;
      white-space: nowrap; 
    }

    th {
      font-weight: bold;
      font-style: italic;
    }

    tbody {
      tr {
        border-bottom: 1px solid #ddd;

        &:nth-child(even) {
          background-color: #f9f9f9;
        }

        &:hover {
          background-color: #f4f4f4;
        }
      }
    }

        button {
            width: 100%;
            background-color: #f44336;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: center;

            &:hover {
                background-color: #d32f2f;
            }
        }

    td:last-child {
        display: flex;
        justify-content: center;
    }
  }

  .no-shift {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    color: #303030;
  }
}

/* Estilos Responsive */
@media (max-width: 768px) {
  .turnero-historial {
    padding: 15px;

    h3 {
      font-size: 1.5rem;
    }

    table {
      font-size: 1rem;

      th, td {
        padding: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .turnero-historial {
    padding: 10px;

    h3 {
      font-size: 1.2rem;
    }

    table {
        width: 80%;
      font-size: 0.9rem;

      th, td {
        padding: 8px;
      }

      button {
        padding: 6px 12px;
        font-size: 0.9rem;
      }
    } 

    .no-shift {
      font-size: 1rem;
    }
  }
}

