@if(_utilSvc.isLoading()){
    <app-loading class="loading show" />
}

<section class="cont" [class.blur]="_utilSvc.isLoading()">

    <div class="flex">

        <div class="items__menu--container">
            <nav class="items__nav">
                <ul class="items__ul">
                    <!-- <li class="items__li">
                        <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="items items--1">Inicio</a>
                    </li> -->

                    @if(!isAdmin()){
                        <li class="items__li">
                            <a [routerLink]="['/shifts']" routerLinkActive="router-link-active"  (click)="onShiftsClick()"
                                class="items items--2">Reservar turnos</a>
                        </li>
                    }

                    @if(isAdmin()){
                        <li class="items__li">
                            <a [routerLink]="['/new-shift']" routerLinkActive="router-link-active" class="items">Cargar turnos</a>
                        </li>
                    }

                    @if(isAdmin()){
                        <li class="items__li">
                            <a [routerLink]="['/shift-admin']" routerLinkActive="router-link-active" class="items">Administrar turnos</a>
                        </li>
                    }

                    @if(!isAdmin() && isAuthenticated()){
                        <li class="items__li">
                            <a [routerLink]="['/shift-history']" routerLinkActive="router-link-active" class="items">Historial de turnos</a>
                        </li>
                    }

                    @if(!isAdmin()){
                        <li class="items__li">
                            <a href="https://wa.me/543462334472?text=Hola,%20tenes%20turnos%20disponibles?" target="_blank"
                                class="items items--3">Contactame</a>
                        </li>
                    }

                    @if(!isAdmin()){
                      <li class="items__li">
                        <a [routerLink]="['/help']" routerLinkActive="router-link-active" class="items items--2">Ayuda</a>
                      </li>
                    }

                    @if(!isAuthenticated()){
                        <li class="items__li">
                            <a  [routerLink]="['/auth']" routerLinkActive="router-link-active"
                                class="items">Iniciar sesión</a>
                        </li>
                    } @else if(isAuthenticated()){
                        <li class="items__li" (click)="logout()">
                            <a class="items">Cerrar sesión</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <div class="flex__responsive">
        <!-- Botón hamburguesa para abrir el menú -->
        <button (click)="onElementClick()" class="hamburger-btn" [class.active]="isClicked">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!-- Overlay para el fondo detrás del menú -->
        @if(isClicked){
            <div class="menu-overlay" (click)="onElementClick()"></div>
        }

        <!-- Menú responsive que aparece al hacer clic en el botón -->
        <nav class="responsive-menu" [ngClass]="{'active': isClicked}">
            <ul class="navbar-nav">
                @if(isAdmin()){
                    <li class="nav-item">
                        <a class="nav-link active" (click)="onShiftsClick()" routerLink="/turnos">Reservar turnos</a>
                    </li>
                }

                @if(isAdmin()){
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/new-shift">Cargar turnos</a>
                    </li>
                }

                @if(isAdmin()){
                   <li class="nav-item">
                        <a class="nav-link active" routerLink="/shift-admin">Administrar turnos</a>
                    </li>
                }

                @if(!isAdmin()){
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/shift-history">Historial de turnos</a>
                </li>
                }

                @if(!isAdmin()){
                    <li class="nav-item">
                        <a class="nav-link active" href="https://wa.me/543462334472?text=Hola,%20tenes%20turnos%20disponibles?"
                            target="_blank">Contactame</a>
                    </li>
                }


                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/help']" routerLinkActive="router-link-active">Ayuda</a>
                </li>


                @if(!isAuthenticated()){
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/auth">Iniciar sesión</a>
                    </li>
                }

                @if(isAuthenticated()){
                    <li class="nav-item" (click)="logout()">
                        <a class="nav-link active">Cerrar sesión</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</section>
